---
import LandingLayout from '../layouts/LandingLayout.astro';
import HeroSection from '../components/HeroSection.astro';
import HowItWorksSection from '../components/HowItWorksSection.astro';
import VerificationSection from '../components/VerificationSection.astro';
import FinalCTASection from '../components/FinalCTASection.astro';
---

<LandingLayout title="Findcation | Tìm staycation tự check-in gần bạn">
  <main>
    <HeroSection />
    <HowItWorksSection />
    <VerificationSection />
  </main>
</LandingLayout>
